=image_tag 'membres', class: 'home-cover'
.infos
  %h1=t('steering_committee')
  .text.comite
    .container
      .row
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Rachid Bakhtaoui, Président Esprit de Paris
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Henri Giscard d'Estaing, Président du Club Med
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Pierre Gattaz, Président du Medef
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Laurent Dassault, Groupe Dassault
      .row
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Jean-Paul Agon, PDG de L'Oréal
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Hsueh Sheng Wang, PDG d'Eurasia
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Mingpo Cai, PDG Cathay Capital
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Qide Yu, DG ICBC Bank
      .row
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Zhai Jun, Ambassadeur de Chine en France
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Jufen YAN, Président CCPIT
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Shengliang YANG, DG China UnionPay
        .col-md-3
          = image_tag('membres/logo-aequam')
          %p Xilin WU, Ministre Conseiller
