-# .image-container
%br
%br
%br
%br
%br
%br
%br
%br
=image_tag 'home-cover-2', class: 'home-cover'

.infos.home
  .row.golden_book_fortunes
    .col-md-8.col-md-offset-2
      %h2.h2ranking=t('competitors')
      %br
      - @competitors.each do |competitor|
        - if I18n.locale == :fr
          - if competitor.name_fr.present?
            - stuff = boldify_competitors(competitor.name_fr, I18n.locale)
            %p
              %span{style: 'font-weight:bold;'}=stuff.first_word
              - if stuff.second_word
                %span{style: 'font-weight:bold;'}=stuff.second_word
              %span= stuff.remaining
              %span<= stuff.last_word
              %span{style: 'font-weight:bold;'}= competitor.competitor_fr
        - elsif I18n.locale == :en
          - if competitor.name_en.present?
            - stuff = boldify_competitors(competitor.name_en, I18n.locale)
            %p
              %span{style: 'font-weight:bold;'}=stuff.first_word
              - if stuff.second_word
                %span{style: 'font-weight:bold;'}=stuff.second_word
              %span= stuff.remaining
              %span{style: 'font-weight:bold;'}= stuff.last_word
        - elsif I18n.locale == :'zh-CN'
          - if competitor.name_cn.present?
            - stuff = boldify_competitors(competitor.name_cn, I18n.locale)
            %p
              %span{style: 'font-weight:bold;'}=stuff.first_word
              - if stuff.second_word
                %span{style: 'font-weight:bold;'}=stuff.second_word
              %span= stuff.remaining
              %span{style: 'font-weight:bold;'}= stuff.last_word

        %br

  %br
  %br
  %br
  %br
