-# .image-container
%br
%br
%br
%br
%br
%br
%br
%br
=image_tag 'home-cover-2', class: 'home-cover'

.infos.home
  .row.golden_book
    .col-md-8.col-md-offset-2
      %h2=t('livre_dor')

      - @quotes.each do |quote|
        - if I18n.locale == :fr
          %p= quote.text_fr
          %p.author<
            = quote.author_fr
            %span>= " #{quote.last_name_fr}"
            = "," if quote.author_statut_fr.present?
            %span>= " #{quote.author_statut_fr if quote.author_statut_fr.present?}"
          %br
        - elsif I18n.locale == :en
          %p= quote.text_en
          %p.author<
            = quote.author_en
            %span>= " #{quote.last_name_en}"
            = "," if quote.author_statut_en.present?
            %span>= " #{quote.author_statut_en if quote.author_statut_en.present?}"
          %br
        - elsif I18n.locale == :'zh-CN'
          %p= quote.text_cn
          %p.author= "#{quote.author_cn}, #{quote.author_statut_cn}"
          %br

      -# %p=t('nicolas_sarkozy')
      -# %br
      -# %br
      -# %p=t('mingpo_cai')
      -# %br
      -# %br
      -# %p=t('laurent_dassaut')
      -# %br
      -# %br
      -# %p=t('renaud_donnedieu_de_vabres')
      -# %br
      -# %br
      -# %p=t('roland_dumas')
      -# %br
      -# %br
      -# %p=t('louis_gallois')
      -# %br
      -# %br
      -# %p=t('robert_hossen')
      -# %br
      -# %br
      -# %p=t('jean_david_levitte')
      -# %br
      -# %br
      -# %p=t('li_li')
      -# %br
      -# %br
      -# %p=t('emmanuel_macron')
      -# %br
      -# %br
      -# %p=t('thierry_mariani')
      -# %br
      -# %br
      -# %p=t('frederic_mitterand')
      -# %br
      -# %br
      -# %p=t('jean_pierre_raffarin')
      -# %br
      -# %br
      -# %p=t('kai_song')
      -# %br
      -# %br
      -# %p=t('hsueh_sheng_wang')
      -# %br
      -# %br
      -# %p=t('qide_yu')
      -# %br
      -# %br
      -# %p=t('jian-fang_zhou')
  %br
  %br
  %br
  %br
