=image_tag 'membres', class: 'home-cover'
.infos
  %h1=t('official_members')
  .text.membres
    .container
      .row
        .col-md-3
          = link_to image_tag('membres/logo-aequam'), 'http://www.aequamcapital.com/accueil/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-aiguemarine'), 'http://www.aiguemarine-paris.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-amazingfrance'), 'http://www.amazingfrance.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-bouygues'), 'http://www.bouygues.com/en/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-bucherer'), 'http://www.bucherer.com/en/home.html', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-business-france'), 'http://www.businessfrance.fr/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-azoya-haituncun'), 'http://www.haituncun.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-ccifc'), 'http://www.ccifc.org/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-china-rendez-vous'), 'http://chinarendezvous.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-cyclopharma'), 'http://www.cyclopharma.fr/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-dassault-aviation'), 'http://www.dassault-aviation.com/en/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-efg'), 'http://wp.efgconsultingworldwide.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-glevent'), 'http://www.gl-events.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-harold'), 'http://www.haroldparisotconseils.cn/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-intercontinental'), 'http://www.ihg.com/intercontinental/hotels/gb/en/paris/parhb/hoteldetail?cm_mmc=GoogleMaps-_-ic-_-FREN-_-parhb', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-kedge'), 'http://www.kedgebs.com/fr', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-laurent-perrier'), 'http://www.laurent-perrier.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-value-retail'), 'http://www.lavalleevillage.com/zh-cn/home/home', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-bristol'), 'http://www.lebristolparis.com/fr/bienvenue/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-meurice'), 'http://www.dorchestercollection.com/paris/le-meurice-hotel', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-royal-monceau'), 'http://www.leroyalmonceau.com/?lang=fr', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-minaledesign'), 'http://www.minaledesignstrategy.com/fr', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-orpea'), 'http://www.orpea.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-parisandco'), 'http://www.parisandco.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-shanghai-traveler-club'), 'http://issuu.com/chinaelitefocus/stacks/a19a258976db4278a3252836af3c6f37', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-shangri'), 'http://www.shangri-la.com/fr/paris/shangrila/dining/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-simon-associes'), 'http://www.simonassocies.com/', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-peninsula'), 'http://paris.peninsula.com/fr/default', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-total'), 'http://total.com/en', target: '_blank'
        .col-md-3
          = link_to image_tag('membres/logo-yves-rocher'), '', target: '_blank'
