<p>Bonjour Harold,
Vous avez reçu un nouveau message sur le formulaire de contact
du site Chinese Business Club. Voici les détails :</p>

<br>
<br>
<p>
Nom : <%=@content[:last_name] %>
</p><br><p>
Prénom : <%=@content[:first_name] %>
</p><br><p>
Email : <%=@content[:email] %>
</p><br><p>
Sujet : <%=@content[:subject] %>
</p><br><p>
Télephone : <%=@content[:phone] %>
</p><br><p>
Fonction : <%=@content[:function] %>
</p><br><p>
Compagnie : <%=@content[:company] %>
</p><br><p>
Message : <%=@content[:message] %>
</p><br><p>
