!!!
%html
  %head
    %title Cbc
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = image_tag 'logo.png', class: 'logo'
      %nav
        %ul.menu_main
          %li=link_to 'Accueil', root_path
          %li=link_to 'Présentation', presentation_path
          %li=link_to 'Membres', membres_path
          %li Presse
          %li Contact

    = yield
