!!!
%html
  %head
    %title Chinese Business Club
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: 'https://fonts.googleapis.com/css?family=Kaushan+Script', rel: 'stylesheet', type: 'text/css'}
    = csrf_meta_tags
    = analytics_init if GoogleAnalytics.valid_tracker?
  %body
    %header
      = link_to (image_tag 'logo_transparent.png', alt: "Comité France Chine"), root_path, class: 'logo'

      %nav
        %ul.menu_main
          %li=link_to t('home'), root_path
          %li=link_to t('presentation'), presentation_path
          -# %li=link_to t('steering_committee'), comite_path
          %li=link_to t('members'), membres_path
          %li=link_to t('press'), presse_path
          %li=link_to t('livre_dor'), livredor_path
          %li=link_to t('ranking'), grandes_fortunes_path
          %li=link_to t('competitors'), concurrents_path
          %li=link_to t('contact'), contact_path
          %li{style:'margin-right:0px;'}= link_to image_tag('fr.png', size: '20x20'), params.merge(locale: "fr")
          %li{style:'margin-right:0px;'}= link_to image_tag('en.png', size: '20x20'), root_path(locale: :en)
          %li{style:'margin-right:0px;'}= link_to image_tag('cn.png', size: '20x20'), root_path(locale: :'zh-CN')
    .content
      = yield
      = render('layouts/footer')
